.Hero_section_main {
  background: url("../../images/heroBg01.jpg") no-repeat center center;
  background-size: cover; /* Ensure full coverage */
  width: 100vw; /* Full viewport width */
  height: 930px; /* Full viewport height */
  margin: 0; /* Remove margins */
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Ensure box model consistency */
  font-family: "figtree";
  background-attachment: fixed;
  position: relative;
  /* position: fixed; */
  background-color: #051330;

  opacity: 0.78;
  /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
}
.hero_section {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  align-content: center;
  flex: 1;
  /* background: linear-gradient(135deg, #1b1b36, #271752); */
  color: white;
  padding-top: 155px;
  text-align: center;
}
.hero_content {
}
@media (max-width: 1024px) {
  .Hero_section_main {
    width: 100vw; /* Full viewport width */
    height: 700px;
  }
  .hero_section {
    /* background: linear-gradient(135deg, #1b1b36, #271752); */
    color: white;
    padding-top: 135px;

    text-align: center;
  }
  .hero_content {
  }
}
@media (max-width: 768px) {
  .Hero_section_main {
    width: 100vw; /* Full viewport width */
    height: 600px;
  }
  .hero_section {
    /* background: linear-gradient(135deg, #1b1b36, #271752); */
    color: white;
    padding-top: 110px;
    text-align: center;
  }
  .hero_content {
  }
}
@media (max-width: 425px) {
  .Hero_section_main {
    width: 100vw; /* Full viewport width */
    height: 650px;
  }
  .hero_section {
    /* background: linear-gradient(135deg, #1b1b36, #271752); */
    color: white;
    padding-top: 110px;
    text-align: center;
  }
  .hero_content {
  }
}
